﻿@model IEnumerable<Microsoft.Graph.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Business Phone</th>
            <th scope="col">Job Title</th>
            <th scope="col">Mail</th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>          
            <td>@item.DisplayName</td>
            <td>@item.BusinessPhones</td>
            <td>@item.JobTitle</td>
            <td>@item.Mail</td>
            <td></td>
        </tr>
        }
    </tbody>
</table>
