﻿@model Microsoft.Graph.Message
@{
    ViewBag.Title = "Create_Message";
}

<h2>Create_Message</h2>
@using (Html.BeginForm("CreateMessage", "MailFolder", FormMethod.Post))
{

    <div class="row" style="margin:10px">
        <p>Subject</p>
        <input type="text" name="Subject" />
    </div>
    <div class="row" style="margin:10px">
        <p>Content</p>
        <input type="text" name="body.Content" />
    </div>
    <div class="row" style="margin:10px">
        <p>Email</p>
        <input type="text" name="emailAddress.Addressto" />
    </div>    
    <div class="row" style="margin:10px">

        <input type="submit" value="Submit" />
    </div>
}
