﻿@model IEnumerable<Microsoft.Graph.MailFolder>

@{
    ViewBag.Title = "Index";
}

<div>@Html.ActionLink("Create Message", "Create_Message")</div>
<div>@Html.ActionLink("Send Mail", "Send_Mail")</div>
<h1>MailFolder</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Display Name</th>
            <th scope="col">childFolderCount</th>
            <th scope="col">unreadItemCount</th>
            <th scope="col">totalItemCount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DisplayName</td>
                <td>@item.ChildFolderCount</td>
                <td>@item.UnreadItemCount</td>
                <td>@item.TotalItemCount</td>
                
            </tr>
        }
    </tbody>
</table>

