﻿@model IEnumerable<Microsoft.Graph.Message>

@{
    ViewBag.Title = "List_Messege";
}

<div>@Html.ActionLink("Create Message", "Create_Message")</div>
<h1>List Message</h1>
<table class="table">
    <thead>
        <tr>         
            <th scope="col">Subject</th>   

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            using (Html.BeginForm("Send_Message", "MailFolder", new { @id = item.Id }))
            {
            <tr>              
                <td>@item.Subject</td>              
                
                <td><input type="submit" value="send"/></td>
                
            </tr>
                }
            }
    </tbody>
</table>