﻿
@{
    ViewBag.Title = "Send_Mail";
}

<h2>Send_Mail</h2>
@using (Html.BeginForm("SendMail", "MailFolder", FormMethod.Post))
{

    <div class="row" style="margin:10px">
        <p>Subject</p>
        <input type="text" name="Subject" />
    </div>
    <div class="row" style="margin:10px">
        <p>Content</p>
        <input type="text" name="Body.Content" />
    </div>
    <div class="row" style="margin:10px">
        <p>Email</p>
        <input type="text" name="EmailAddress.Addressto" />
    </div> 
    <div class="row" style="margin:10px">
        <p>Email</p>
        <input type="text" name="EmailAddress.Addresscc" />
    </div>
    <div class="row" style="margin:10px">

        <input type="submit" value="Submit" />
    </div>
}
