﻿
@{
    ViewBag.Title = "Create_calendar";
}

<h2>Create_calendar</h2>
@using (Html.BeginForm("Createcalendar", "Calendar"))
{
 
    <div class="row" style="margin:10px">
        <p>Subject</p>
        <input type="text" name="Subject" />
    </div>
    <div class="row" style="margin:10px">
        <p>Content</p>
        <input type="text" name="body.Content" />
    </div>
    <div class="row" style="margin:10px">
        <p>Start</p>
        <input type="text" name="Start.DateTime" />
    </div>
    <div class="row" style="margin:10px">
        <p>End</p>
        <input type="text" name="End.DateTime" />
    </div>
    <div class="row" style="margin:10px">

        <input type="submit" value="Submit" />
    </div>


}
